#accountScreen{
    color: wheat;
    /* box-sizing: border-box; */
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    background-color: rgba(70, 70, 73, 0.4);
    border-radius: 30px;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    backdrop-filter: blur 6px;
    /* box-shadow: 0 0 60px rgba(255, 255, 255, 0.25); */
}
#accDetail{
    border-bottom: 2px solid wheat ;
    text-align: center;
}
h2{
    margin: 7px 0px;
}
#name,
#email,
#wallet{
    font-size: 20px;
    color: white;
}
#accCart,
#accWishlist{
    /* width: 100px; */
    /* height: 50px; */
    border-radius: 10px;
    background-color: #37373d;
    font-family: "Roboto";
    color: white;
    font-size: 20px;
    border: none;
    text-align: left;
    padding:10px 10px;
}
#accCart:hover,
#accWishlist:hover{
    background-color: wheat;
    color: #000;
    transition: all 0.5s;
}