.prod{
    flex-grow: 1;
}

.cartlight{
    flex-grow: 1;
    /* border: 2px solid white; */
    box-shadow: 0 0 60px rgba(46, 46, 64, .25);
    border-radius: 30px;
}
.cartdark{
    flex-grow: 1;
    /* border: 2px solid white; */
    box-shadow: 0 0 60px rgba(144, 144, 146, 0.25);
    border-radius: 30px;
}

.cartButtons{
    width: 70%;
    margin: 20px 40px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.cartButtons button{
    /* display:block; */
    height: 50px;
    width: 20%;
    /* margin: 15px 0; */
    background-color: #cccccc;
    border:none;
    border-radius: 10px;
    font-weight: bold;
}

#heading{
    margin: 20px 80px;
    display: inline-block;
    font-size: 3em;    
    /* margin-right: 60%; */
    width: 85%;
}

