.ordersummary, .finalSummary{
    height: fit-content;
    display:flex;
    flex-direction: column;
    margin:40px;
    border-radius: 30px;
    background: rgba(198, 198, 198,0.2);
    width: 20%;
    padding:30px 10px;
    align-items: center;
}

.finalSummary{
    padding-top: 40px;
    padding-bottom: 40px;
    height: 550px;
    width: 30%;
    height: fit-content;
}

.summaryLight.summaryDark{
    text-align: left;
    height:30%;
    padding: 20px;
    /* padding: 20px; */
}

.summaryDark{
    color:#cccccc;
    border-bottom: 5px solid wheat;    
    padding-bottom: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
}

.summaryLight{
    border-bottom: 5px solid black;    
}

.totals{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin:20px 0;
}
.totalLight,.totalDark{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.totalDark{
    color: wheat;
}

.totalLight h3,.totalDark h3{
    width: 50%;
    margin-right: 20%;
}

.ordersummary button, .finalSummary button{
    display:block;
    /* padding: 0 0px !important; */
    width: 80%;
    height: 60px;
    padding: 10px !important;
    /* margin: 0px 10px !important; */
    /* margin: 0 10px !important; */
    background-color: #cccccc;
    border:none;
    border-radius: 10px;
    margin: 0 20px !important;
    /* font-weight: bold; */
}

.finalSummary h1{
    color: wheat;
}

.finalSummary button{
    padding: 20px;
}