#popupContainer-dark,
#popupContainer-light
 {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
#popupContent-dark {
    position: relative;
    width: 30%;
    background: #464649;
    margin: auto auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    /* background:; */
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    text-align: center;
    font-size: 30px;
    align-items: center;
}
#popupContent-dark {
    position: relative;
    width: 30%;
    background: #464649;
    margin: auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(50vh - 60px);
    /* background:; */
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    text-align: center;
    font-size: 30px;
}
#popupContent-light {
    position: relative;
    width: 30%;
    background: #ccc;
    margin: auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(50vh - 60px);
    /* background:; */
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    text-align: center;
    font-size: 30px;
}