.refillWalletLight, .refillWalletDark{
    background: rgba(198, 198, 198,0.2);
    border-radius: 30px;
    padding: 40px;
    width: 40%;
    margin: 40px ;
    display: flex;
    flex-direction: column;
    /* min-height: 100px; */
    height: fit-content;
}

#refillHeader{
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 5px solid wheat;
    width: 90%;
}

.refillWalletLight h3, .refillWalletDark h3{

    display: inline-block;
    text-align: left;
    margin-right: 40%;
    margin-left: 40px;
    font-size: 1.2rem;

}

.refillWalletLight p, .refillWalletDark p{
    display: inline-block;
    font-size: 1.2rem;

}


.logos{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    max-height: 200px;
    overflow: auto;
}

.logos > div{
    width: 100%;
    display: flex;
    align-items: center;
    /* margin: 40px; */
    margin: 15px 0;
}

.logos a{
    max-width: 60%;
    margin-right: 50px;
}

.logos img{
    display: inline-block;
    height: 90%;
    max-width: 50%;
    /* height:80%; */
    object-fit: contain;
    object-position: center;
}

.logos h3{
    margin-left: 0;
}

.refillWalletDark button, .refillWalletLight button{
    margin: 40px;
    height: 60px;
    padding: 15px 20px;
    /* width: 80%; */
    background-color: #cccccc;
    border:none;
    border-radius: 10px;
    font-weight: bold;
}

.logos label{
    margin-right: 25%;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    width: 40%;
}